<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sergio.pruebas"
    android:installLocation="preferExternal">

    <uses-feature android:name="android.hardware.wifi" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Inicio"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NuevaConexion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VerConexiones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialogos.DialogoNuevaConexion"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".dialogos.DialogoNuevaConexionConfig"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".dialogos.DialogoConfirmarConexionDuplicada"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".dialogos.DialogoEditarBorrar"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".test"></activity>
    </application>

</manifest>
